
.custom-gradient-text {
  background-image: linear-gradient(90deg, #ec4899, #8b5cf6, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.btn-gradient {
  background-image: linear-gradient(90deg, #ec4899, #8b5cf6, #fbbf24);
  color: #ffffff;
  transition: background-image 0.4s ease;
}
.btn-gradient:hover {
  background-image: linear-gradient(90deg, #fbbf24, #8b5cf6, #ec4899);
}

.btn-outline {
  border: 2px solid #34d399; 
  color: #34d399;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline:hover {
  background-color: rgba(52, 211, 153, 0.15);
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
.text-color {
  color: #EC07BD;
  font-weight: bold;
  
}
